* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:#a30000;
$secondColor:#fff;
$accentColor:#000;
$prettyFont:'Courgette', cursive;
/* Start Header */

.container {
    padding-bottom: 25px;
}

.header {
    header {
        background-image: url(../images/artDeco.jpg);
    }
    img{
        float: left;
        height: auto;
        width: auto;
    }
    h1 {
        color: $mainColor;
        margin: auto;
        font-family: $prettyFont;
        font-size: 4rem;
        outline-color: #000;
        text-align: center;
        text-shadow: 2px 4px $accentColor;
    }
    nav {
        ul {
            background-color: $mainColor;
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-around; 
            width: 25%;
        }
        a {
            color: $secondColor;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
        .btn{
            color: $secondColor;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
}

/* End Header */

/* Start Body */
main{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5c164+0,e0deb3+66,f4f4e8+100 */
    background: #e5c164; /* Old browsers */;background: -moz-linear-gradient(top, #e5c164 0%, #e0deb3 66%, #f4f4e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5c164 0%,#e0deb3 66%,#f4f4e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5c164 0%,#e0deb3 66%,#f4f4e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    h1{
        text-align: center;
    }
    span{
        color: $mainColor;
        font-family: $prettyFont;
    }
}
@media screen and (max-width:700px){
    .header {
        text-align: left;
        width: 100%;
    }
    
}

@media screen and (max-width:480px){
    .image-gallery li{
       width: 50%;
    }
    a,
    nav li {
       display: block;
    }
    nav li{
        border: 1px solid #fff;
        
    }
    nav ul{
        padding: 0;
    }
}
/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    nav {
        ul {
            background-color: $mainColor;
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-around; 
            width: 25%;
        }
        a {
            color: $secondColor;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
        .btn{
            color: $secondColor;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
  }
  